:root {
    --dark-bg-color: #515153;
    --success-color: #72BB53;
    --main-theme-color: #0047AB;
    --secondary-theme-color: #2ca7ff;
    --third-theme-color: #EEEEEE;
    --success-theme-color: #4dcd7d;
    --panels-background-color: #f7f8fa;
    --main-alert-bkg: #ff9d9d;
    --main-alert-color: #DC143C;
    --main-warn-color: #f8a34d;
    --main-disabled-color: #b4b4b4;
    --main-placeholder-color: #b4b4b4;
    --scrollbarBG: transparent;
    --main-bg-color: #fff;
    --main-panel-color: #0047AB;
    --main-error-color: #FF0000;
    --main-theme-color-bkg: rgba(0, 71, 171, 0.05);
    --main-text-color: #787878;
    --accent-text-color: #464646;
    --secondary-text-color: #999999;
    --main-text-dark-color: #333333;
    --main-selection-color: #614AA3;
    --main-border-color: #E0E0E0;
    --main-border-light-color: #E0E0E0;
    --main-border-darker-color: #BDBDBD;
    --main-header-color: #828282;
    --secondary-border-color: #dcdcdc;
    --light-border-color: #F6F6F6;
    --dialog-bkg-color: #FAFAFA;
    --dialog-delimiter-color: #EEEEEE;
    --scrollbar-track-color: #E0E0E0;
    --scrollbar-thumb-color: #828282;
}
