.event-details-invite-field-container {
    padding: 0 12px;
    margin-bottom: 5px; }
.event-details-invite-field-container .event-details-attendee-invite {
    width: 100%;
    border-bottom: 1px solid var(--main-border-color);
    border-radius: 0;
    font-size: 13px;
    padding: 3px; }

.event-details-dropdown-item {
    display: flex;
    align-items: center;
    color: var(--main-text-color);
    padding: 8px 15px;
    /* &:hover
      color var(--secondary-theme-color)
      &.hover
      color var(--secondary-theme-color) */ }
.event-details-dropdown-item .event-details-dropdown-text {
    flex: 1 1 100%; }
.event-details-dropdown-item .event-details-dropdown-text .ng-fa-icon {
    margin-right: 5px; }
.event-details-dropdown-item .dropdown-none-item {
    color: var(--main-warn-color); }
.event-details-dropdown-item .dropdown-none-item:hover {
    opacity: 0.5; }
.event-details-dropdown-item .dropdown-empty-item {
    color: var(--main-alert-color); }
.event-details-dropdown-item .dropdown-empty-item:hover {
    opacity: 0.5; }
.event-details-dropdown-item.dropdown-show-more-button {
    color: var(--secondary-theme-color); }
.event-details-dropdown-item.dropdown-show-more-button:hover {
    opacity: 0.5; }

.dropdown-action {
    cursor: pointer;
    padding: 8px 15px;
    transition-property: background-color, color;
    transition-duration: .3s; }
.dropdown-action:hover {
    background-color: var(--main-theme-color-bkg);
    color: var(--secondary-theme-color); }
.dropdown-action.selected {
    background-color: var(--main-theme-color-bkg);
    color: var(--secondary-theme-color); }
.dropdown-action.hover {
    background-color: var(--main-theme-color-bkg);
    color: var(--secondary-theme-color) !important; }
.dropdown-action.disabled, .dropdown-action:disabled {
    cursor: default;
    color: var(--main-disabled-color); }
.dropdown-action.dark.selected, .dropdown-action.dark:focus, .dropdown-action.dark:hover {
    background-color: var(--dark-bg-color); }
.dropdown-action.success {
    color: var(--success-color);
    cursor: default; }
.dropdown-action.success:focus, .dropdown-action.success:not(.disabled):hover, .dropdown-action.success:enabled:hover {
    color: var(--success-color); }
.dropdown-action.warning {
    color: var(--main-warn-color); }
.dropdown-action.warning:focus, .dropdown-action.warning:not(.disabled):hover, .dropdown-action.warning:enabled:hover {
    color: var(--main-warn-color); }

.time-alert-list-container {
    display: flex;
    flex-direction: column; }

.dropdown-bottom-alert {
    flex: 1 1 100%;
    border-top: 1px solid var(--main-border-color);
    font-size: 12px;
    padding: 5px 15px 0;
    color: var(--main-text-color);
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
.dropdown-bottom-alert .color-blue {
    color: var(--secondary-theme-color); }
.dropdown-bottom-alert .pointer {
    cursor: pointer; }

.event-details-dropdown-item-noalign {
    display: flex; }

.event-details-dropdown-selected {
    flex: 0 1 auto;
    font-size: 13px;
    align-self: flex-start; }

.date-dropdown .calendar-dropdown-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.date-dropdown .calendar-dropdown-section {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-align: center;
    align-items: center; }

.date-dropdown .calendar-dropdown-month-arrow {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    cursor: pointer;
    padding: 0 8px;
    font-size: 11px; }

.date-dropdown .calendar-dropdown-month-name {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    font-weight: 600; }

.date-dropdown .calendar-dropdown-date {
    height: 30px;
    padding: 0;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center; }

.date-dropdown .calendar-dropdown-date.selected {
    background-color: rgba(44, 167, 255, 0.1); }

.date-dropdown .calendar-dropdown-date.selected.first {
    border-radius: 100px 0 0 100px; }

.date-dropdown .calendar-dropdown-date.selected.last {
    border-radius: 0 100px 100px 0; }

.date-dropdown .calendar-dropdown-date-label {
    text-transform: uppercase;
    font-size: 10px;
    color: var(--main-disabled-color);
    height: auto; }

.date-dropdown .calendar-dropdown-date-item {
    cursor: pointer;
    font-size: 12px;
    border: 2px solid;
    border-color: transparent;
    font-weight: 500;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center; }

.date-dropdown .eligible-date.neighboring {
    color: var(--main-disabled-color); }

.date-dropdown .eligible-date.invalid-choice {
    color: var(--main-disabled-color);
    pointer-events: none; }

.date-dropdown .eligible-date.today, .date-dropdown .today {
    font-weight: 600;
    font-style: normal;
    background-color: var(--main-disabled-color);
    border-color: var(--main-disabled-color);
    color: #fff; }

.date-dropdown .eligible-date.selected {
    background-color: #2ca7ff;
    color: #fff;
    font-weight: 600;
    border-color: #2ca7ff;
    opacity: 1; }

.date-dropdown .eligible-date:focus, .date-dropdown .eligible-date:hover {
    font-weight: 600;
    background-color: var(--secondary-theme-color);
    border-color: var(--secondary-theme-color);
    color: #fff;
    opacity: 1; }

.date-dropdown .eligible-date.selected:focus, .date-dropdown .eligible-date.selected:hover {
    color: #fff; }

.date-dropdown-task-fullscreen {
    top: 40px;
    right: -56px; }

.date-dropdown-task-fullscreen:before {
    right: 80px !important; }

.date-dropdown-task-fullscreen:after {
    right: 81px !important; }

.dropdown-action.task-extras-dropdown-item {
    padding: 8px 15px; }

.event-details-dropdown-icon {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -ms-flexbox;
    display: flex;
    height: 18px;
    width: 18px;
    margin-right: 8px; }

.task-fullscreen-section-group:hover .task-fullscreen-section-icon, .task-fullscreen-section-group:hover .dropdown-selected-item {
    color: #2ca7ff; }

.dropdown-selected-item {
    align-self: center; }

.dropdown-selected-item .dropdown-selected-item-no-value {
    color: var(--main-alert-color); }

.task-fullscreen-section-icon {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    text-align: center;
    color: var(--main-disabled-color);
    height: 18px; }

.default-dropdown-container {
    padding: 10px 0;
    width: 240px;
    top: 31px;
    position: relative; }

.default-dropdown-container-inner {
    max-height: 420px;
    overflow-y: auto; }
.default-dropdown-container-inner::-webkit-scrollbar {
    width: 6px;
    height: 7px; }
.default-dropdown-container-inner::-webkit-scrollbar-track {
    width: 6px;
    background: white; }
.default-dropdown-container-inner::-webkit-scrollbar-thumb {
    background: var(--main-disabled-color); }
.default-dropdown-container-inner::-webkit-scrollbar-thumb:hover {
    transition: background-color ease-in-out 0.3s;
    background-color: #7793AF; }

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    font-size: 14px;
    text-align: left;
    liste: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--main-border-color);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2); }
.dropdown-menu:after {
    content: "";
    width: 7px;
    height: 7px;
    background-color: white;
    position: absolute;
    top: -4px;
    right: 37px;
    display: inline-block;
    border-radius: 1px;
    transform: rotate(45deg);
    border: 1px solid transparent;
    border-top-color: var(--main-border-color);
    border-left-color: var(--main-border-color); }

.dropdown--active .dropdown__content .dropdown-menu, .dropdown-menu-visible {
    display: block; }
