
.context-menu {
  --context-menu-background-color: white;
  --context-menu-border-color: #cecece;
  --context-menu-font-color: #3d3d3d;
  display: flex;
  color: var(--context-menu-font-color);
  flex-direction: column;
  min-width: 100px;
  min-height: 20px;
  width: auto;
  background: var(--context-menu-background-color);
  border: 1px solid var(--context-menu-border-color);
  border-radius: 2px;
  position: absolute;
  z-index: var(--dropdown-level);
}

.dropdown-menu .dropdown-row {
  display: flex;
  height: 36px;
  align-items: center;
  padding: 4px 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.dropdown-menu .dropdown-row:hover {
  color: var(--secondary-theme-color);
}

.dropdown-menu .dropdown-row:hover svg {
  /** todo use currentColor svg property */
  fill: var(--secondary-theme-color);
}

.dropdown-menu .dropdown-row__dropdown-text {
  flex-grow: 1;
  display: flex;
  width: auto;
  max-width: 280px;
}

.dropdown-menu .dropdown-row__dropdown-text svg {
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  margin-right: 10px;
}

.dropdown-menu .dropdown-row__dropdown-text svg path {
  fill: var(--context-menu-font-color);
}
